<h1>About Us</h1><br/><br/>
<p style = "text-align: justify;">We the students of <%= link_to("National Institute of Technology, Karnataka", "http://www.nitk.ac.in/") %>  have come together to form a Ruby Users' Group(called NITK-RUG).

Currently the group has been initiated with 8-10 student members.

This would provide the many ruby users of the college to come together and share their knowledge about the language and at the same time  help in integrating a conducive learning environment about the same.

The primary goals for the RUG currently is a regular meet arrangement, exposure to new RubyGems and technologies, and work on various projects about the same.</p>
