
<%= image_tag("ruby1.png", size: "50x50") %>
<h1>NITK-RUG</h1><br/><br/><br/>
<p>We are a group of students from <%= link_to("National Institute of Technology, Karnataka", "http://www.nitk.ac.in/") %> who like programming in Ruby. We primarily use Ruby to work on projects in Rails. </p>

<p></p>

