
<%= image_tag("ruby1.png", size: "50x50") %>
<h1 id="home">NITK-RUG</h1><br/><br/><br/>
<p style = "color : #698DC7">We are a group of students from <%= link_to("National Institute of Technology, Karnataka", "http://www.nitk.ac.in/") %> who like programming in Ruby. </p>

<p></p>

